.heading {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.Border {
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
  margin: auto;
  max-width: 80vw;
}

.Border thead th {
  background: #bbddef;
  border-radius: 5px;
  font-weight: bold;
  color: #252F40;
  font-size: 15px;
  width: 100vw;
  
}
.tablecontent {
  border-collapse: collapse;        
}
.rowcontect {
  margin-left: 55px;
}

tbody td{
    font-size: 14px;
    font-family: Open Sans;
}

.EDIcons{
  cursor: pointer;
  text-align: center;
}


.add{
  margin-left: 10%;
  text-decoration: none;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(247, 166, 166, 0.5);
  padding: 10px;
}

.formdata{
  width: 400px;
}
.errormsg{
  color: red;
}